.logo {
  font-size: 4em; /* Increased font size */
  color: #e91e63; /* Pink color */
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Text shadow for depth */
  margin-top: 20px; /* Adjusted margin-top */
  letter-spacing: 2px; /* Increased letter spacing */
}

body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #fff; /* White background color */
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question {
  font-size: 2em;
  color: #333; /* Adjust color as needed */
  text-align: center;
  margin-top: 20px; /* Increased margin-top */
  margin-bottom: 20px; /* Adjusted margin-bottom */
}

.button-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  margin-top: 20px; /* Adjust margin-top as needed */
}

.button {
  padding: 20px 40px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px; /* Added margin for better spacing */
}

#yesButton {
  background-color: #6ebf6e; /* Green color for the Yes button */
  color: white; /* White text color */
}

#yesButton:hover {
  background-color: #4d944d; /* Darker shade of green on hover */
}

#noButton {
  background-color: #ff7b7b; /* Red color for the No button */
  color: white; /* White text color */
}

#noButton:hover {
  background-color: #e15656; /* Darker shade of red on hover */
}

.message-container {
  max-width: 700px; /* Adjust maximum width as needed */
  margin-top: 30px; /* Adjust margin-top as needed */
  margin-bottom: 20px; /* Adjust margin-bottom as needed */
  text-align: center; /* Center-align the message */
  margin: 0 auto; /* Center horizontally */
}

.message {
  background-color: #f9f9f9; /* Light gray background color */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box shadow for depth */
}

.message p {
  font-size: 16px;
  line-height: 1.6;
}

.gif-container {
  text-align: center;
  margin-top: 20px; /* Adjusted margin-top */
  margin-bottom: 40px; /* Increased margin-bottom */
}

.gif-image {
  max-width: 100%; /* Ensure the GIF fits within its container */
}
.left-background,
.right-background {
  position: fixed;
  top: 0;
  bottom: 0;
  width: calc(
    50% - 500px
  ); /* Adjusted width to create a gap of 500px between the images */
  background-repeat: no-repeat;
  background-size: cover;
}

.left-background {
  left: 0;
  background-image: url("img.jpg"); /* Adjust path to your image */
  opacity: 0.4; /* Adjust opacity as needed */
  background-position: left; /* Set background position to left */
}

.right-background {
  right: 0;
  background-image: url("img.jpg"); /* Adjust path to your image */
  opacity: 0.4; /* Adjust opacity as needed */
  background-position: right; /* Set background position to right */
}
